#mw_playlists_manage{
	input[type='checkbox']{
		//display: 
		& + label{
			cursor: pointer;
		}
		&:checked + label{
			color: @color;
		}
	}
	.buttonsPlace{
		margin: .3em 0;
		button{
			margin: .1em .2em;
		}
	}
}