#sounds_container{
    @sz: @sidePanelWidth;
    position: fixed;
    right: 0;
    top: 0;
    width: @sz + 0.4em;
    counter-reset: tracks -1;
    
    .soundButton{
        .fr-convex;
        width: @sz;
        height: @sz;
        padding: .1em;
        cursor: pointer;
        display: block;     
        margin: 0 auto;  
        background: @m-gray + #111; 
        position: relative;
        font-size: 120%;
            counter-increment: tracks;
        
        &:hover{
            background: @m-gray + #222;    
        }
        &:active{
            background:  @m-gray;    
        }
        
        &:before{
            content: counter(tracks);
            position: absolute;
            left: .1em;
            top: 0.1em;
        }
      &:hover{
        .soundSublist{
          display: flex;
        }
      }
    }
    .soundSublist{
      list-style-type: none;
      margin: 0;
      padding: 0 0.2rem;
      font-size: 14px;
      display: none;
      flex-direction: column;
      background: darken(@m-gray, 10%);
      position: absolute;
      left: -11rem;
      top: 0;
      width: 11rem;
      opacity: 0.5;
      transition: opacity .2s;

      &:hover{
        opacity: 1;
      }

      li{
        cursor: pointer;
        transition: background .2s;
        margin: 0.2rem 0;
        padding: 0.2rem;
        background: lighten(@m-gray, 5%);
        &:hover {
          background: lighten(@m-gray, 10%);
        }
      }
    }
}