.clear {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
/*
@track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}
*/
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customSelect {
  display: block;
  position: relative;
}
.customSelect .label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: block;
  cursor: pointer;
  text-align: center;
  padding-right: 2.2em !important;
  position: relative;
}
.customSelect .label:before {
  content: "▼";
  position: absolute;
  right: .3em;
  padding: 0 .2em;
  transition: color .3s, background .3s;
}
.customSelect .label:after {
  content: "";
  position: absolute;
  right: 1.7em;
  height: 1em;
  border-left: 2px ridge #999999;
}
.customSelect .label:hover {
  background: #888888;
}
.customSelect .label:hover:before {
  transform: scale(1.1, 1.1);
}
.customSelect .label:active {
  background: #666666;
}
.customSelect .list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 33;
  background: #ddd;
  border-radius: 0 0 .2em .2em;
  border: 1px solid #bbbbbb;
  margin: 0 .2em;
  padding: .2em 0;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: -0.2em;
  /*/
    &:before{
        content: "";
        position: absolute;
        top: -2 * @arr_w;
        left: .4em;
        height: 0;
        width: 0;
        border: @arr_w solid transparent;
        border-bottom-color: @l-gray;
    }
    /**/
}
.customSelect .option {
  color: #222;
  cursor: pointer;
  padding: .3em .2em;
  list-style: none;
  margin: 0;
  border-left: 1em solid rgba(255, 255, 255, 0);
  transition: color .3s, background .3s;
}
.customSelect .option[data-color=g0] {
  border-left-color: rgba(255, 255, 255, 0);
}
.customSelect .option[data-color=g1] {
  border-left-color: #f23;
}
.customSelect .option[data-color=g2] {
  border-left-color: #2196F3;
}
.customSelect .option[data-color=g3] {
  border-left-color: #9f2;
}
.customSelect .option[data-color=g4] {
  border-left-color: #FFEB3B;
}
.customSelect .option[data-color=g5] {
  border-left-color: #9c27b0;
}
.customSelect .option:hover {
  background: #cccccc;
}
.customSelect .option:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #222;
  color: #555;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-family: Comic Sans MS, Comic Sans MS5, cursive;
  /* you can delete this =) */
}
img {
  border: none;
}
.bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.bt:hover {
  background: #888888;
}
.bt:active {
  background: #666666;
}
.mod_win {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  display: block;
  position: absolute;
  min-width: 20em;
  min-height: 15em;
  top: 1em;
  left: 1em;
  right: 1em;
  z-index: 999;
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
}
#info {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  padding: 1em 2.7em;
  max-width: 50rem;
  background: #151515;
  cursor: default;
  color: #ddd;
}
.tracks {
  width: 100%;
  padding: .1em;
  padding-right: 2.4em;
}
.tracksafter,
.tracksbefore {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.tracklist_ghost {
  opacity: .4;
  transform: scale(0.95);
}
.tracklist_drag {
  box-shadow: 0 0 10px 3px #487EC5;
  transform: scale(1.1);
}
.player_form {
  display: block;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  width: 12em;
  background: #777;
  padding: .1em;
  position: relative;
  border-top: 2px solid #777;
  transition: border-top 0.2s, transform 0.2s, border-top 0.2s;
}
.player_form[data-group=g1] {
  border-top: 2px solid #f23;
}
.player_form[data-group=g2] {
  border-top: 2px solid #2196F3;
}
.player_form[data-group=g3] {
  border-top: 2px solid #9f2;
}
.player_form[data-group=g4] {
  border-top: 2px solid #FFEB3B;
}
.player_form[data-group=g5] {
  border-top: 2px solid #9c27b0;
}
.player_form .pf_lt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 1.5em;
  padding: .2em;
  top: 0;
  right: 0;
  text-align: center;
}
.player_form .pf_sett {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
  overflow: hidden;
  height: auto;
}
.player_form .pf_sett .btns,
.player_form .pf_sett .vol {
  float: left;
  width: 50%;
  height: 9em;
  text-align: center;
}
.player_form .pf_sett .btn {
  width: 100%;
  display: inline-block;
  padding: 1em;
}
.player_form .pf_sett .mix {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #888888;
  padding: .3em;
  font-size: inherit;
}
.player_form .pf_sett .mix:hover {
  background: #999999;
}
.player_form .pf_sett .mix:active {
  background: #777;
}
.player_form .pf_sett input.hide {
  display: none;
}
.player_form .pf_sett input.hide + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #888888;
  width: 100%;
  display: inline-block;
  padding: .3em;
}
.player_form .pf_sett input.hide + label:hover {
  background: #999999;
}
.player_form .pf_sett input.hide + label:active {
  background: #777;
}
.player_form .pf_sett input.hide + label input {
  display: none;
}
.player_form .pf_sett input.hide:checked + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #555555;
  padding: .3em;
}
.player_form .pf_sett input.cycle {
  display: none;
}
.player_form .pf_sett input.cycle + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #888888;
  width: 100%;
  display: inline-block;
  padding: .3em;
}
.player_form .pf_sett input.cycle + label:hover {
  background: #999999;
}
.player_form .pf_sett input.cycle + label:active {
  background: #777;
}
.player_form .pf_sett input.cycle + label input {
  display: none;
}
.player_form .pf_sett input.cycle:checked + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #555555;
  padding: .3em;
}
.player_form .pf_sett .volume {
  font-size: inherit;
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 2em;
  height: 6em;
  padding: 0 5px;
  cursor: pointer;
}
.player_form .pf_sett:before,
.player_form .pf_sett:after {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.player_form .pf_play {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
  text-align: center;
}
.player_form .pf_play button.pf_play_bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.6em;
  width: 4em;
  height: 4em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background: #888888;
}
.player_form .pf_play button.pf_play_bt i {
  font-size: 1.9em;
}
.player_form .pf_play button.pf_play_bt:hover {
  background: #999999;
}
.player_form .pf_play button.pf_play_bt:active {
  background: #777;
}
.player_form .pf_play button.pf_next_bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: inherit;
  width: 6.4em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background: #888888;
}
.player_form .pf_play button.pf_next_bt i {
  font-size: 1.4em;
}
.player_form .pf_play button.pf_next_bt:hover {
  background: #999999;
}
.player_form .pf_play button.pf_next_bt:active {
  background: #777;
}
.player_form .pf_trek_timeline {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px;
  margin: 0;
  width: auto;
  background: #444444;
  position: relative;
  top: 0.2em;
  border-radius: 15px;
}
.player_form .pf_trek_timeline .pf_trek_playhead {
  height: 3px;
  width: 0%;
  background: #fc801c;
}
.player_form .pf_name {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
  font-size: 120%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.player_form .pf_name:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0.3em;
  bottom: 0;
  width: 1em;
  height: 1.2em;
  background: linear-gradient(to right, rgba(102, 102, 102, 0), #666666);
}
.player_form .pf_img {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
  height: 5em;
  text-align: center;
}
.player_form .pf_list {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: .1em;
  cursor: default;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: visible;
  height: 12em;
  counter-reset: tracks;
}
.player_form .pf_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.player_form .pf_list::-webkit-scrollbar-thumb {
  background: #515151;
}
.player_form .pf_list::-webkit-scrollbar-track {
  background: #777;
}
.player_form .pf_list body {
  scrollbar-face-color: #515151;
  scrollbar-track-color: #777;
}
.player_form .pf_l_sett {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
}
.player_form .pf_mng {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .2em;
  margin: .1em;
  cursor: default;
}
.player_form .tr_line {
  padding: 0.1em 0.2em;
  position: relative;
  height: 1.7em;
  overflow: hidden;
  display: flex;
}
.player_form .tr_line .name {
  z-index: 5;
  top: 0;
  left: 0;
}
.player_form .tr_line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
.player_form .tr_line:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.1);
}
.player_form .tr_line:before {
  counter-increment: tracks;
  /* Указываем идентификатор счетчика */
  content: counter(tracks);
  /* Выводим текст перед содержимым тега <h2> */
  padding-right: 0.5em;
  opacity: .8;
}
.player_form .tr_line:hover {
  background: rgba(255, 255, 255, 0.18);
}
.player_form .tr_line.active {
  background: #fc801c;
}
.fa-pause {
  color: #fc801c;
}
#top_panel .bt {
  min-width: 1em;
  min-height: 1em;
}
#top_panel #p_name {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  min-height: 1em;
  padding: .2em;
}
#top_panel input[type='checkbox'] {
  display: none;
}
#top_panel input[type='checkbox'] + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #888888;
  display: inline-block;
  padding: .3em;
}
#top_panel input[type='checkbox'] + label:hover {
  background: #999999;
}
#top_panel input[type='checkbox'] + label:active {
  background: #777;
}
#top_panel input[type='checkbox'] + label input {
  display: none;
}
#top_panel input[type='checkbox']:checked + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #555555;
  padding: .3em;
}
#mw_add_tracks {
  min-height: 15em;
  height: auto;
  max-height: 20em;
  overflow-y: auto;
}
#mw_add_tracks .path,
#mw_add_tracks .folder {
  width: 100%;
}
#mw_add_tracks .blck {
  width: 100%;
  max-width: 100%;
  height: 10em;
}
#sounds_container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  counter-reset: tracks -1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
#sounds_container .hiddenList ul,
#sounds_container .sortable-chosen ul {
  display: none !important;
}
#sounds_container .soundButtonContainer {
  position: relative;
  z-index: 9;
}
#sounds_container .soundButtonContainer:nth-child(n+11) .soundButton::before {
  content: "";
}
#sounds_container .soundButton {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.4em;
  height: 2.4em;
  padding: .1em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background: #888888;
  position: relative;
  font-size: 120%;
  counter-increment: tracks;
  z-index: 9;
  /* &:hover{ */
  /* .soundSublist{ */
  /* display: flex; */
  /* } */
  /* } */
}
#sounds_container .soundButton:hover {
  background: #999999;
}
#sounds_container .soundButton:hover .soundSublist {
  display: flex;
}
#sounds_container .soundButton:active {
  background: #777;
}
#sounds_container .soundButton::before {
  content: counter(tracks);
  position: absolute;
  left: .1em;
  top: 0.1em;
}
#sounds_container .soundSublist {
  list-style-type: none;
  margin: 0;
  padding: 0 0.2rem;
  font-size: 14px;
  display: none;
  flex-direction: column;
  background: #5e5e5e;
  position: absolute;
  left: -11rem;
  top: 0;
  width: 11rem;
  z-index: 99;
  opacity: 0.5;
  transition: opacity .2s;
}
#sounds_container .soundSublist:hover {
  opacity: 1;
}
#sounds_container .soundSublist li {
  cursor: pointer;
  transition: background .2s;
  margin: 0.2rem 0;
  padding: 0.2rem;
  background: #848484;
  overflow: hidden;
}
#sounds_container .soundSublist li:hover {
  background: #919191;
}
/* Big sound */
#sounds_big_panel {
  transition: opacity .2s;
  z-index: 9999;
  counter-reset: big_sounds -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
#sounds_big_panel.invisible {
  display: none;
  opacity: 0;
}
#sounds_big_panel .soundBigButtonContainer:nth-child(n+11) button::before {
  content: "";
}
#sounds_big_panel button {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
  height: 10rem;
  padding: .1em;
  cursor: pointer;
  background: #888888;
  position: relative;
  font-size: 120%;
  counter-increment: big_sounds;
  overflow: hidden;
}
#sounds_big_panel button:hover {
  background: #999999;
}
#sounds_big_panel button:active {
  background: #777;
}
#sounds_big_panel button::before {
  content: counter(big_sounds);
  position: absolute;
  left: .1em;
  top: 0.1em;
}
#sounds_big_panel .soundBigButtonText,
#sounds_big_panel .soundBigButtonIco {
  width: 100%;
}
#mw_playlists_manage input[type='checkbox'] + label {
  cursor: pointer;
}
#mw_playlists_manage input[type='checkbox']:checked + label {
  color: #487EC5;
}
#mw_playlists_manage .buttonsPlace {
  margin: .3em 0;
}
#mw_playlists_manage .buttonsPlace button {
  margin: .1em .2em;
}
#mw_soundlists_manage {
  max-width: 41rem;
  margin: 0 auto;
}
#mw_soundlists_manage .row {
  display: flex;
}
#mw_soundlists_manage .soundColumn {
  list-style-type: none;
  margin: 0;
  padding: 0.3em;
  border-right: 1px solid #ddd;
}
#mw_soundlists_manage .soundColumn li {
  display: flex;
}
#mw_soundlists_manage .soundColumn li input {
  position: relative;
  top: 0.35rem;
}
#mw_soundlists_manage .soundColumn label {
  cursor: pointer;
  transition: background .2s;
  display: block;
  background: #fff;
  padding: .1em;
  flex-grow: 99;
}
#mw_soundlists_manage .soundColumn label:hover {
  background: #ddd;
}
#mw_soundlists_manage .soundColumn label.selected {
  background: #c4c4c4;
}
#mw_soundlists_manage .soundInfo {
  padding: 0.1em 0.5em;
}
#mw_soundlists_manage .soundArr {
  list-style-type: none;
  margin: 0;
  padding: 0.3em;
}
#mw_soundlists_manage .soundArr li {
  display: flex;
  justify-content: space-between;
}
#mw_soundlists_manage .soundArr li:nth-child(odd) {
  background: #eaeaea;
}
#mw_soundlists_manage .soundArr input {
  width: 2rem;
  margin-left: 0.5em;
}
#mw_soundlists_manage .icoSample {
  min-width: 1.5em;
  position: relative;
  left: -1.5em;
  z-index: 9;
}
#mw_soundlists_manage .buttonsPlace {
  margin: .3em 0;
}
#mw_soundlists_manage .buttonsPlace button {
  margin: .1em .2em;
}
#mw_batDB_manage {
  max-width: 50rem;
  margin: 0 auto;
}
#mw_batDB_manage .inner {
  margin: 1rem;
}
#mw_batDB_manage .center {
  text-align: center;
}
#mw_batDB_manage button {
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  background: #f7f7f7;
  margin: 0.5em;
  transition: box-shadow 0.3s, background 0.3s;
}
#mw_batDB_manage button:hover {
  background: #4079c3;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}
#mw_batDB_manage button.white {
  background: white;
}
#mw_batDB_manage #mw_batDB_load_input,
#mw_batDB_manage #mw_batDB_import_input {
  display: none;
}
#mw_sl_OkButton,
#mw_pl_CancelButton,
#mw_pl_OkButton {
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  background: #f7f7f7;
  margin: 0.5em;
  transition: box-shadow 0.3s, background 0.3s;
}
#mw_sl_OkButton:hover,
#mw_pl_CancelButton:hover,
#mw_pl_OkButton:hover {
  background: #4079c3;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}
#mw_sl_OkButton.white,
#mw_pl_CancelButton.white,
#mw_pl_OkButton.white {
  background: white;
}
